--fn-i-tpl               ../../inputs/system_1maz_filled.tpl
--fn-i-initial-pdb       ../../inputs/npt_eq.pdb
--fn-i-restart           init.rst
--cell-x                 98.63020
--cell-y                 65.91622
--cell-z                 69.82237
--cell-center-x          3.948000
--cell-center-y          14.356500
--cell-center-z          40.590500
--fn-i-shake             ../../inputs/system_1maz_filled.shk
--fn-i-atom-groups       ../../inputs/atom_groups.inp
;--fn-i-dist-restraint    #{DISRES_FILE}
